{% extends 'base_template.html' %}

{% block content %}
<div id="wrapper">
          {% include 'chunks/navigation.html' %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Dashboard <small>Statistics and more</small></h1>
                    {% for category, message in get_flashed_messages(with_categories=True) %}

                    <div class="alert alert-dismissable alert-{{ category }}">
                        <button data-dismiss="alert" class="close" type="button">&times;</button>
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- /#wrapper -->
{% endblock %}
